
body {
    background-color: orange;
}


input[type="button"] {

    width: 100px;
    height: 100px;

    font-family: 'Roboto';
    font-size: 15px;

    background-color: deepskyblue;

    margin-left: 10px;
    margin-top: 10px;

    border: 3px solid;
    border-radius: 10px;

}

a{
    display: block;
}

.context-menu {
    position: absolute;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: darkgray;
}
